
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

html {height: 100vh;}

body {height: 93%;}

.text_message {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #500000;
}

a:link {
   color:inherit;
   font-weight: bold;
}

img.img-fluid {
  max-width: 90vw;
  max-height: 75vh;
}

col-sm {
  max-width: 50px;
}
