{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}
  <div class="text_message" style="background: url('/static/static-images/bground.jpg')">
    <h1>Welcome to Halte! The home of AI-powered fencing tools!</h1>
    This site will host the results of experiments with Machine Learning on fencing images and clips. All code developed is open sourced under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPL 3.0</a> license, and is <a href="https://github.com/vbfall/halte">available here</a>.
    <br><br>
    If you are a fencer, please contribute to this project by clicking "help" above and indicating what you see. Thank you!
  </div>
{% endblock %}
